body {
    font-family: Arial, sans-serif;
  }
  
  .bg-primary {
    background-color: #007bff;
  }
  
  .text-info {
    color: #17a2b8;
  }
  
  .list-group-item {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  
  .list-group-item:hover {
    background-color: #e9ecef;
    color: #007bff;
    transform: scale(1.05);
  }
  
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
  }
  
  .video-container iframe, 
  .video-container object, 
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%; /* Updated to 80% of the container */
    height: 80%; /* Updated to 80% of the container */
    margin: auto; /* Center the iframe */
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 1200px) {
    .bg-primary {
      font-size: 22px;
    }
  
    h1 {
      font-size: 22px;
    }
  
    h4 {
      font-size: 20px;
    }
  
    h5 {
      font-size: 16px;
    }
  
    .list-group-item {
      font-size: 16px;
    }
  }
  
  @media (max-width: 992px) {
    .bg-primary {
      font-size: 20px;
    }
  
    h1 {
      font-size: 20px;
    }
  
    h4 {
      font-size: 18px;
    }
  
    h5 {
      font-size: 14px;
    }
  
    .list-group-item {
      font-size: 14px;
    }
  }
  
  @media (max-width: 768px) {
    .bg-primary {
      font-size: 18px;
    }
  
    h1 {
      font-size: 18px;
    }
  
    h4 {
      font-size: 16px;
    }
  
    h5 {
      font-size: 12px;
    }
  
    .list-group-item {
      font-size: 12px;
    }
  }
  
  @media (max-width: 576px) {
    h1 {
      font-size: 16px;
    }
  
    h4 {
      font-size: 14px;
    }
  
    h5 {
      font-size: 10px;
    }
  
    .list-group-item {
      font-size: 10px;
    }
  }
  